*{
  font-family: monospace;
 
}
h1{
  text-align: center;
  font-size: 30px;

}
.app{
  padding: 10px;
}
.container {
  display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
}
.item {
  padding: 1rem;
  box-shadow: 3px 3px 3px 4px rgba(216, 216, 216, 0.507);
  border-radius: 30px; 
  padding: 50px;
  width: 30%; /* Adjust the width as needed */
  margin-bottom: 20px; 
}
#residencial {
  display: flex;  /* Set display to flex to align children horizontally */
  gap: 20px;      /* Add some spacing between the items */
}
#comercio {
  display: flex;  /* Set display to flex to align children horizontally */
  gap: 20px;      /* Add some spacing between the items */
}
#terreno  {
  display: flex;  /* Set display to flex to align children horizontally */
  gap: 20px;      /* Add some spacing between the items */
}
.item img {
  width: 100%;
  border-radius: 30px; 
}

.imob{
  padding: 1rem;
  box-shadow: 3px 3px 3px 3px rgba(216, 216, 216, 0.507);
  border-radius: 30px; 
  padding: 50px; 
}




nav {
  background-color: #090909;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

nav ul li {
  margin-bottom: 20px;
  width: 300px; 
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  display: block;
}

nav ul li:hover ul {
  display: block;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #adadad;
  border-radius: 0 0 4px 4px;
}

nav ul ul li {
  width: 200px;
  float: none;
  display: list-item;
  position: relative;
}

nav ul ul li a {
  padding: 10px 15px;
  color: #fff;
}

nav ul ul li a:hover {
  background-color: #7d7c7c;
}
